/* Body Background */
body{
	margin-top: 20px;
	background-color: #d5d9de;
}

/* Text Style */
p{
	color: #656565;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Bootstrap Container */
.container{
	position: relative;
	background-color: white;
	box-shadow: 0 0 5px #9d9d9d;
	max-width: 450px;
	overflow: hidden;
}

/*Menu Area*/
.menuArea{
	position: absolute;
	left: -380px;
	background-color: #f6f6f6;
	height: 100%;
	width: 80%;
	box-shadow: 5px 0 10px rgba(44,45,45,.4);
	z-index: 1000;
}

.menuArea ul{
	margin-top: 45px;
	list-style: none;
	color: #868889;
	padding: 0;
}

.menuArea li{
	font-weight: bold;
	background-color: #edf0f0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #dee1e3;
	padding: 20px;
	cursor: pointer;
}

.menuArea li:first-child{
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #dee1e3;
}

.menuArea li:hover{
	background-color: #e0e2e5;
}

/*Info Section*/
.infoSection{
	position: absolute;
	left: 0;
	bottom: -540px;
	background-color: #f6f6f6;
	height: 80%;
	width: 100%;
	box-shadow: 0px 0 10px rgba(44,45,45,.4);
	z-index: 1000;
}

.infoSection .textArea{
	padding: 40px 20px;
}

.infoSection .textArea h4{
	font-weight: bold;
}

.infoSection .textArea p{
	color: #8d8e8e;
}

.highlight{
	background-color: #3b92fc;
	color: #fff;
}

#songName{
	cursor: pointer;
}

/* TopBar */
.topBar{
	height: 55px;
}

.menu{
	height: 35px;
	width: 35px;
	padding: 5px 5px;
	cursor: pointer;
}

#coverImg{
	width: 70%;
	height: auto;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
}

/*Play Timeline*/
.playBar{
	width:100%;
	position:relative;
}
.bar{
	background-color: #246ed3;
	border-radius: 25px;
	height: 3px;
	width: 100%;
	position:relative;
	overflow:hidden;
}

.playHead{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.4), 0 2px 6px rgba(0,0,0,.2);
	cursor: pointer;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-1px;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.unplayed-progress{
	background:rgba(240,240,240,0.9);
	position:absolute;
	left:0;
	height:100%;
	width:100%;
	top:0;
}

.time{
	color: #999b9c;
	font-size: 12px;
}

/*Title Area*/
.titleArea{
	text-align: center;
}

.titleArea h3{
	font-weight: bold;
}

.titleArea p{
	color: #246ed3;
}

/*Control Area*/
.control{
	width: 30px;
	height: auto;
	cursor: pointer;
}

.close{
	margin: 10px;
	width: 25px;
	height: auto;
	cursor: pointer;
}

.playBtn{
	width: 45px;
	margin-top: -5px;
}

.controlArea{
	padding-top: 30px;
	padding-bottom: 60px;
}

.disabled{
	opacity: .2;
	cursor: auto;
}